body, html {
  height: 100%;
}

/* This somehow fixes issue when .data doesn't have 100% height in Chrome 63. */
#root {
  height: 0%;
}

body {
  margin: 0;

  /* TODO: with scroll when material Popup appears abcolute positioned elements shifts. */
  /*   Without - when Popup is visible user can scroll, which is strange. */
  /*   Should figure it out. */
  /* overflow: scroll !important; */

  /* Fonts from html > body
  https://getmdl.io/ */
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}

a {
  /* Color from .mdl-button--raised.mdl-button--colored */
  /* https://github.com/google/material-design-lite */
  color: #3f51b5;
  text-decoration: none;
}
