/* TODO: hide scrollbar (maybe use ErrorPageNotFound.css translate approach?) */
#landing {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#landing #errors {
  color: #333;
  text-align: center; }

#landing #errors ul {
  list-style-type: none;
  padding: 8px 0 0 0;
  margin: 0;
  height: 32px;
}
