@import "./../shared.scss";

.landing {
  background-color: $body-bgcolor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  & .messages {
    color: $main-text-color;
    text-align: center;

    & ul {
      list-style-type: none;
      padding: 8px 0 0 0;
      margin: 0;

      // Fixed height stops button jumping when messages appears.
      // 32px should be enough to fit 1 message.
      // If number of messages will increase, we will have to find another way,
      // since more height leads to more and more uncentered button block.
      height: 32px;
    }
  }

  & .button {
  }
}

.grecaptcha-badge {
  bottom: 48px !important;
}
