@import "./../shared.scss";

$header-text-color: #222;
$data-bgcolor: $body-bgcolor;
$data-bgcolor: white;
$cell-border-thickness: 1px;
$data-border: $cell-border-thickness solid rgba(white, 0);
$pointed-border-color: #48e;
$pointed-border: $cell-border-thickness solid $pointed-border-color;
$clipboard-border: $cell-border-thickness dashed #777;
$clipboard-pointed-border: $cell-border-thickness dashed $pointed-border-color;
$cell-height: 32px;
$cell-padding: 8px 16px;
$cell-font-size: 18px;

body {
  background-color: $body-bgcolor;
}

svg {
  padding: 8px;
}

.table {
  display: table;
  border-collapse: separate;

  // For TableMenu.
  position: relative;

  // For actions and addressing cells.
  // TODO: calculate from cells' sizes.
  padding: 76px 0 0 76px;
  height: 100%;

  // Moved to Spreadsheet.jsx.
  // border-spacing: 2px;
}

.tr {
  display: table-row;

  // TODO: return css hover for rows.
  // &.action-cells-hover:hover .line-menu {
  //   opacity: 1;
  // }
}

.td {
  display: table-cell;
  vertical-align: middle;
  font-size: $cell-font-size;
  position: relative;
  height: 100%;

  & .data {
    // For textarea vertical align.
    display: flex;
    align-items: center;

    // For cell borders to act like when cell is pointed.
    border: $data-border;
    box-sizing: border-box;
    min-width: 64px;
    height: 100%;

    // Width is limited by textarea width.
    // Return if there are will be non-textarea data cells.
    // max-width: 512px;
    word-wrap: break-word;
    background-color: $data-bgcolor;
    cursor: pointer;
    border-radius: 2px;

    & .textarea {
      padding: $cell-padding;
      font-size: $cell-font-size;
      border: none;
      resize: none;
      min-width: 100%;
      background-color: rgba(black, 0);
      color: darken($main-text-color, 30%);

      // Spreadsheet view style.
      &:disabled {
        color: $main-text-color;

        // Solves bug/feature when Firefox doesn't bubble click in disabled element.
        // http://stackoverflow.com/a/32925830/6376451
        pointer-events: none;
      }

      // Disables outline in webkit.
      &:focus {
        outline: none;
      }
    }
  }

  & .line-menu {
    opacity: 0;

    &.hover {
      opacity: 1;
    }
  }

  & .address {
    color: $gray-text-color;
  }

  & .pointed {
    border: $pointed-border;
  }

  & .editing {
    border: $data-border;
  }

  & .clipboard {
    border: $clipboard-border;
  }

  & .pointed.clipboard {
    border: $clipboard-pointed-border;
  }
}

.table-menu {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.table-menu.sync-problem {
  visibility: visible;
}

.table:hover {
  & .table-menu {
    visibility: visible;
  }
}

.tr:hover {
  & .line-menu-hover {
    opacity: 1;
  }
}

.complement {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
