body {
  background-color: #eee;

  /* Fonts from html > body
  https://getmdl.io/ */
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}

svg {
  padding: 8px;
}

button:hover svg {
  /* Color from "mdl-button"
  https://getmdl.io/components/index.html#buttons-section */
  background-color: rgba(158, 158, 158, .2);
  border-radius: 50%;
}

/* For dev.
* {
  opacity: 1 !important;
  visibility: visible !important;
} */

.table {
  display: table;
  border-collapse: separate;

  /* For TableMenu. */
  position: relative;

  /* For actions and addressing cells.
  TODO: calculate from cells' sizes.
    address_width + menu_width + complement_padding */
  padding: 84px 0 0 84px;
  height: 100%;

  /* Moved to Spreadsheet.jsx.
  border-spacing: 2px; */
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
  vertical-align: middle;
  position: relative;

  /* For .data's height to work. */
  height: 100%;
}

.line-menu {
  opacity: 0;
}

.line-menu.hover {
  opacity: 1;
}

.address {
  color: #777;
}

.data {
  /* For textarea vertical align. */
  display: flex;
  align-items: center;

  /* For cell borders to act like when cell is pointed. */
  border: 1px solid transparent;
  /* border: $data-border; */
  box-sizing: border-box;
  min-width: 64px;
  height: 100%;

  /* Width is limited by textarea width.
  Return if there are will be non-textarea data cells.
  max-width: 512px; */
  word-wrap: break-word;
  background-color: white;
  cursor: pointer;
  border-radius: 2px;
  padding: 8px 16px;
}


.data.pointed {
  border: 1px solid #48e;
}

.data.editing {
  border: 1px solid transparent;
}

.data.clipboard {
  border: 1px dashed #777;
}

.data.pointed.clipboard {
  border: 1px dashed #48e;
}

.textarea {
  font-size: 18px;
  border: none;
  resize: none;
  min-width: 100%;
  background-color: transparent;
  color: black;

  /* Disables outline in webkit. */
  outline: none;
}

.textarea:disabled {
  color: #333;

  /* Solves bug/feature when Firefox doesn't bubble click in disabled element.
  http://stackoverflow.com/a/32925830/6376451 */
  pointer-events: none;
}

.table-menu {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.table-menu.sync-problem {
  visibility: visible;
}

.table:hover .table-menu {
  visibility: visible;
}

.tr:hover .line-menu-hover {
  opacity: 1;
}

.complement {
  position: absolute;
  display: flex;
}

.complement.row {
  justify-content: flex-end;
  align-items: center;
}

.complement.column {
  justify-content: center;
  align-items: flex-end;
}

.complement > div {
  padding: 8px;
}
