li svg {
  /* Space between MenuItem's icon and label. */
  padding-right: 8px;
}

.menu button svg {
  border-radius: 50%;
  padding: 4px;
}

.menu.small  {
  transform: scale(0.75);
}

.menu.small button  {
  width: 24px !important;
  height: 24px !important;
}

.menu.small svg  {
  width: 24px !important;
  height: 24px !important;
  padding: 0 !important;

  /* NOTE: accessability === 0 */
  opacity: 0.75;
}

.menu.big:hover svg {
  /* Color from "mdl-button"
  https://getmdl.io/components/index.html#buttons-section */
  background-color: rgba(158, 158, 158, .2);
}

.menu.small:hover svg {
  color: black;
  opacity: 1;
}

.material-menu li {
  padding-left: 32px;
  padding-right: 32px;
}
