li svg {
  /* Space between MenuItem's icon and label. */
  padding-right: 8px;
}

button:hover svg {
  /* Color from "mdl-button"
  https://getmdl.io/components/index.html#buttons-section */
  background-color: rgba(158, 158, 158, .2);
  border-radius: 50%;
  padding: 4px;
}
