[contenteditable]:focus {
  outline: 0px solid transparent;
}

.cell {
  cursor: pointer;
  padding: 8px;
  border: 1px solid #eee;
  white-space: pre;
  box-sizing: border-box;
  position: relative;
}

.cell .cell-content {
  overflow: hidden;
  text-overflow: ellipsis;

  /*
    Fixes error in Chome when there are no caret in empty editing div.
      https://stackoverflow.com/a/25898165/6376451
  */
  padding-left: 1px;
}

.cell.editing .cell-content {
  overflow: visible;

  /* Makes div width to be as big as text in order to fill background properly. */
  display: inline;
  background-color: white;
}

.cell.pointed {
  border: 1px solid #48e;
}

.cell.editing {
  border: 1px solid #4e8;
  cursor: inherit;
  z-index: 1000;
}

.cell.clipboard {
  border: 1px dashed #777;
}

.cell.pointed.clipboard {
  border: 1px dashed #48e;
}

.cell.header {
  font-weight: 600;
}
