/* Parent div inside dialog. */
.dialog div[role="document"]>div {
  width: 400px !important;
  padding: 16px;
}

.dialog div[role="document"] h2 {
  /* Copied from mdl-dialog__title. */
  font-weight: 400;
  font-size: 2.5rem;
}

.dialog .dialog-buttons {
  padding: 8px;
}

.dialog-import {
  display: flex;
}

.dialog .dialog-import input[type="file"] {
  display: none;
}

.dialog .dialog-import label {
  white-space: nowrap;
}

.dialog .dialog-import .filename {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 8px;
  border: none;
  flex-grow: 1;
  color: #333;
}

.dialog .dialog-messages {
  padding: 16px 0 0 0;
  margin-top: 8px;
  color: #900;
}

.dialog .dialog-settings-default-value {
  padding-left: 0.25rem;
  color: #777;
}
