.td {
  display: table-cell;
  vertical-align: middle;
  position: relative;

  /* For .data's height to work. */
  height: 100%;
}

.complement {
  position: absolute;
  display: flex;
}

.complement.row {
  justify-content: flex-end;
  align-items: center;
}

.complement.column {
  justify-content: center;
  align-items: flex-end;
}

.complement > div {
  padding: 8px;
}
