.data {
  /* For textarea vertical align. */
  display: flex;
  align-items: center;

  /* For cell borders to act like when cell is pointed. */
  border: 1px solid transparent;
  /* border: $data-border; */
  box-sizing: border-box;
  min-width: 64px;
  height: 100%;

  /* Width is limited by textarea width.
  Return if there are will be non-textarea data cells.
  max-width: 512px; */
  word-wrap: break-word;
  background-color: white;
  cursor: pointer;
  border-radius: 2px;
  padding: 8px 16px;
}

.data.pointed {
  border: 1px solid #48e;
}

.data.editing {
  border: 1px solid transparent;
  cursor: inherit;
}

.data.clipboard {
  border: 1px dashed #777;
}

.data.pointed.clipboard {
  border: 1px dashed #48e;
}

.textarea {
  font-size: 18px;
  border: none;
  resize: none;
  min-width: 100%;
  background-color: transparent;
  color: black;

  /* Disables outline in webkit. */
  outline: none;
}

.textarea:disabled {
  color: #333;

  /* Solves bug/feature when Firefox doesn't bubble click in disabled element.
  http://stackoverflow.com/a/32925830/6376451 */
  pointer-events: none;
}
