/* For dev.
* {
  opacity: 1 !important;
  visibility: visible !important;
} */

.table {
  display: table;
  border-collapse: separate;

  /* For TableMenu. */
  position: relative;

  /* For actions and addressing cells.
  TODO: calculate from cells' sizes.
    address_width + menu_width + complement_padding */
  padding: 84px 0 0 84px;
  height: 100%;

  /* Moved to Spreadsheet.jsx.
  border-spacing: 2px; */
}
