@import "./shared";

.landing {
  background-color: $body-bgcolor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  & .message {
    color: $main-text-color;
    padding: 8px;
  }

  & .button {
  }
}

.grecaptcha-badge {
  bottom: 48px !important;
}
