<!DOCTYPE html>
<html>
  <head>
    <title>Spreadsheet</title>
    <%= csrf_meta_tags %>
<%#= begin_webpack_head_tags %>
<%#= end_webpack_head_tags %>
  <% if ENV['RECAPTCHA_SECRET_KEY'] %>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <% end %>
  </head>
  <body>
    <%= yield %>

    <div class="footer">
      <a href="https://github.com/kengho/react-redux-spreadsheet">
        <span class="github-mark" />
      </a>
    </div>
  </body>
</html>
